/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/*
Colors used
*/

:root {
  --primary-color: #000;
  --secondary-color: #8fcada;
  --tertiary-color: #ceb4ca;
  --quaternary-color: #c7e5ed;
  --dark-grey: #707070;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.8;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.7;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', sans-serif;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #00f;
}

.navigation-list__item--active {
  text-decoration: none;
}

button,
.button {
  border: none;

  /*  overwrites browser defaults and resets the border */

  display: inline-block;
  font-family: inherit;

  /*  takes the font from the outer container */

  background-color: var(--dark-grey);

  /* styles the button's background color */

  color: white;

  /* styles the button's font color */

  text-decoration: none;

  /* styles the button's text decoration */

  padding: 10px;

  /* adds spacing to the button */

  margin: 20px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;

  /* lets the mouse appear as a hand when hovering over the button */

  opacity: 0.8;

  /* reduces the opacity of the button to 80% when hovering */
}

.container {
  min-width: 500px;
  max-width: 1400px;
  margin: 0 auto;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: auto;
  padding: 20px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ceb4ca), to(#8fcada));
  background-image: linear-gradient(#ceb4ca, #8fcada);
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 150px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.general {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.links-list li {
  text-align: center;
  padding: 0;
  margin-right: 40px;
  width: 30px;
}

.page-footer__item {
  display: inline-block;
}

.profile {
  max-width: 750px;
  height: 205px;
  margin: auto;
  text-align: left;
}

.profile__portrait {
  float: left;
  border-radius: 50%;
  width: 200px;
  height: auto;
  margin-right: 40px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.profile__portrait:hover {
  -webkit-box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 4px 6px rgba(0, 0, 0, 0.3);
}

div.hidden {
  display: none;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.projects__item {
  color: #000;
  background-color: var(--quaternary-color);
  border: 2px solid var(--dark-grey);
}

.profile-picture {
  float: right;
  margin-right: 200px;
  border-radius: 20%;
}

.about {
  margin-left: 100px;
  margin-top: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.experience-table {
  margin: auto;
  border: 2px solid var(--dark-grey);
  padding: 10px;
  width: 300px;
  text-align: left;
  background-color: var(--quaternary-color);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.sun {
  width: 200px;
  margin-left: 200px;
  position: relative;
  -webkit-animation: rotation 60s infinite linear;
  animation: rotation 60s infinite linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(-400px, 50px);
    transform: translate(-400px, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(-400px, 50px);
    transform: translate(-400px, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud {
  width: 200px;
  margin-left: 200px;
  position: relative;
  top: -100px;
  -webkit-animation: 60s cloud-move infinite alternate linear;
  animation: 60s cloud-move infinite alternate linear;
}

.mountain {
  width: 800px;
  position: relative;
  top: -100px;
}

.message {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: var(--quaternary-color);
  border: 2px solid var(--dark-grey);
}

ul {
  list-style-type: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 15px;
}

/* below sets projects grid to 1 column for screens <500px */

@media all and (max-width: 500px) {
  .projects {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .profile__portrait {
    width: 100px;
  }
}

/* below sets projects grid to 2 columns for screens 500-750px */

@media all and (min-width: 500px) and (max-width: 750px) {
  .projects {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .profile__portrait {
    width: 150px;
  }
}

@media all and (max-width: 750px) {
  /* shared code */
  .projects {
    grid-gap: 10px;
  }

  h1 {
    font-size: 24px;
  }
}
