/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Colors used
*/

:root {
  --primary-color: #000;
  --secondary-color: #eee;
  --tertiary-color: #235fac;
  --quaternary-color: #008099;
  --dark-grey: #707070;
  --goldenrod: #daa520;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.8;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.7;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  cursor: pointer;
}

a:active {
  /* selected link */
  color: #00f;
}

.navigation-list__item--active {
  text-decoration: none;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  color: var(--primary-color);
  text-decoration: none;
  padding: 8px;
  margin: 20px;
  border-radius: 8px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: auto;
  margin: 0 auto;
}

/* below is header styling */

.sidenav {
  position: fixed;
  margin: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo {
  max-width: 80px;
  max-height: 80px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

#navbtn {
  border-style: none;
  color: #fff;
  background-color: var(--quaternary-color);
  padding: 4px;
  margin: 8px 0;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.navlink {
  text-decoration: none;
}

.navbtntxt {
  color: #fff;
  margin: auto;
}

#navbtn:hover,
.navbtntxt:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

a.navbtntxt {
  color: var(--primary-color);
  text-decoration: none;
}

a.navbtntxt:visited {
  color: var(--primary-color);
  text-decoration: none;
}

/* below is footer styling */

.connect {
  position: fixed;
  right: 40px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--secondary-color);
  z-index: 10;
}

.links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  padding-left: 0;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  padding: 6px 0 6px 10px;
}

svg:hover {
  opacity: 0.6;
}

.message {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: var(--quaternary-color);
  border: 2px solid var(--dark-grey);
}

ul {
  list-style-type: none;
}

/* contact button */

#contact-button {
  margin: 4px auto 8px;
  padding: 0;
  background-color: var(--secondary-color);
}

#contact-button:hover {
  opacity: 0.7;
}

/* modal background */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* modal content */

#form-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5%;
  width: 300px;
}

/* modal close button */

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#contact-name,
#contact-email,
#contact-message {
  width: 258px;
  margin-bottom: 8px;
}

/* below is main page styling */

#main {
  max-width: 950px;
  height: auto;
  margin: auto;
}

/* below is home page content styling */

#home {
  display: block;
  text-align: center;
  margin-bottom: 300px;
}

.profile__portrait {
  border-radius: 10%;
  width: 200px;
  height: auto;
  margin: 300px auto 0;
}

div.hidden {
  display: none;
}

/* below is work page content styling */

#work {
  max-width: 750px;
  height: auto;
  margin: auto;
  padding: 60px 10px;
  text-align: center;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 20px 300px 20px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects-item {
  position: relative;
}

.project-image {
  width: 300px;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  border: 2px solid var(--dark-grey);
  border-radius: 8px;
  z-index: 1;
}

#hidden-click {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  padding-top: 8px;
  color: var(--primary-color);
  background-color: #fff;
  border: 2px solid var(--dark-grey);
  border-radius: 50%;
  z-index: 8;
}

.hidden-click-text2 {
  color: var(--quaternary-color);
}

#hidden-click:hover {
  display: block;
}

.project-image:hover {
  opacity: 50%;
}

.project-image:hover + #hidden-click {
  display: block;
}

/* below is about page styling */

#about {
  width: 900px;
  text-align: center;
  margin: 0 auto 80px;
}

.about-header {
  margin-top: 100px;
}

.about-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-photo {
  border-radius: 10%;
  width: 200px;
  height: auto;
  margin: 12px 40px 0;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.resume-button {
  width: 200px;
  height: 48px;
  border-style: none;
  color: #fff;
  border-radius: 16px;
  -ms-grid-row: 2;
  grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: var(--quaternary-color);
  text-align: center;
  -ms-grid-column-align: center;
  justify-self: center;
  padding: 12px;
  margin: 0 40px;
}

.resbtntxt {
  color: #fff;
  text-decoration: none;
}

.resbtntxt:visited {
  color: #fff;
  text-decoration: none;
}

.resume-button:hover {
  background-color: var(--secondary-color);
}

.resbtntxt:hover {
  color: var(--primary-color);
}

.about-text {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  text-align: left;
}

.experience-table {
  margin: 40px auto;
  border-style: solid;
  border-width: 8px;
  border-radius: 12px;
  border-color: var(--goldenrod);
  width: 440px;
  height: 266px;
  padding: 8px;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 3;
  grid-row: 3;
  background-color: var(--secondary-color);
}

.tech-title {
  margin: 8px;
}

.tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left;
}

#frontback {
  padding-left: 28px;
  padding-right: 28px;
}

.case-study {
  margin: 40px auto;
  width: 360px;
  height: 266px;
  color: var(--primary-color);
  border-style: solid;
  border-width: 8px;
  border-radius: 12px;
  border-color: var(--goldenrod);
  padding: 8px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.case-study-btn {
  width: 200px;
  height: 56px;
  border-style: solid;
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-radius: 16px;
  background-color: var(--quaternary-color);
  text-align: center;
  -ms-grid-column-align: center;
  justify-self: center;
  padding: 12px;
  margin: 8px 0;
}

.code-image {
  width: 260px;
  margin-bottom: 8px;
  border-style: none;
  border-radius: 4px;
  -ms-grid-column-align: center;
  justify-self: center;
}

.code-image:hover {
  opacity: 0.6;
}

/* below sets adjustments for screens <600px */

@media all and (max-width: 600px) {
  .container {
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
  }

  .sidenav {
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    padding: 12px 8px 6px;
    width: 100%;
    z-index: 10;
    background-color: #d0d0d0;
  }

  #navbtn {
    width: 50px;
    height: 50px;
    font-size: 12px;
    padding: 0;
    margin: 0 8px;
  }

  .navbtntxt {
    width: 36px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .connect {
    position: fixed;
    width: 100%;
    height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
  }

  .links-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 8px;
  }

  .footer-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    padding: 6px 0 0 10px;
  }

  #contact-button {
    margin: 0 12px;
    background-color: #d0d0d0;
  }

  #home {
    margin-bottom: 250px;
  }

  .profile__portrait {
    margin: 250px auto 0;
    width: 150px;
  }

  #work {
    padding: 80px 10px;
  }

  .projects {
    -ms-grid-columns: 150px 20px 150px;
    grid-template-columns: 150px 150px;
  }

  .projects-item {
    position: relative;
  }

  .project-image {
    width: 150px;
    height: 150px;
  }

  #hidden-click {
    width: 140px;
    height: 140px;
    top: 5px;
    left: 5px;
    padding-top: 24px;
  }

  .hidden-click-text1 {
    padding: 0 auto;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.2;
  }

  .hidden-click-text2 {
    padding: 0 auto;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.2;
  }

  #project-link {
    padding: 0 auto;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
  }

  #about {
    width: 320px;
  }

  .about-header {
    padding-top: 72px;
  }

  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-photo {
    width: 120px;
    margin: 0;
  }

  .about-text {
    margin: 0 4px;
    font-size: 15px;
    line-height: 1.2;
  }

  .experience-table {
    margin: 8px auto;
    width: 320px;
    height: 250px;
  }

  .case-study {
    margin: 8px auto;
    width: 320px;
    height: 250px;
  }

  .tech-title {
    font-size: large;
  }

  #frontback {
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .resume-button {
    margin: 0 40px;
  }
}

/* below sets adjustments for screens 600-950px */

@media all and (min-width: 600px) and (max-width: 950px) {
  .sidenav {
    position: fixed;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #navbtn {
    width: 60px;
    height: 60px;
    padding: 4px;
    margin: 8px 0;
    font-size: 12px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .footer-item {
    padding: 4px 0 4px 10px;
  }

  #main {
    max-width: 800px;
  }

  #home {
    margin-bottom: 400px;
  }

  .profile__portrait {
    width: 175px;
    margin: 400px auto 0;
  }

  #work {
    padding: 136px 10px;
  }

  .projects {
    -ms-grid-columns: 200px 20px 200px;
    grid-template-columns: 200px 200px;
  }

  .project-image {
    width: 200px;
    height: 200px;
  }

  #hidden-click {
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
    padding-top: 25px;
    font-size: small;
  }

  .hidden-click-text1,
  .hidden-click-text2 {
    padding: 0 auto;
    margin: 0 auto;
    line-height: 1.3;
  }

  #about {
    width: 480px;
  }

  .about-header {
    padding-top: 20px;
  }

  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-photo {
    width: 150px;
    margin: 0;
  }

  .about-text {
    margin: 0 4px;
    font-size: 15px;
    line-height: 1.2;
  }

  .experience-table {
    margin: 8px auto;
    width: 360px;
    height: 264px;
  }

  .case-study {
    margin: 8px auto;
    width: 360px;
    height: 250px;
  }

  #frontback {
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .resume-button {
    margin: 0 40px;
  }
}

@media all and (min-width: 950px) and (max-width: 1200px) {
  .projects {
    -ms-grid-columns: 200px 20px 200px 20px 200px;
    grid-template-columns: 200px 200px 200px;
  }

  .project-image {
    width: 200px;
    height: 200px;
  }

  #hidden-click {
    width: 150px;
    height: 150px;
    top: 25px;
    left: 25px;
    padding-top: 25px;
    font-size: small;
  }

  .hidden-click-text1,
  .hidden-click-text2 {
    padding: 0 auto;
    margin: 0 auto;
    line-height: 1.3;
  }

  #about {
    width: 640px;
  }

  .about-header {
    padding-top: 20px;
  }

  .about-photo {
    width: 180px;
    margin: 0;
  }

  .about-text {
    margin: 0 4px;
    font-size: 15px;
    line-height: 1.3;
  }

  .experience-table {
    margin: 8px auto;
    width: 360px;
    height: 264px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 3;
    grid-row: 3;
  }

  .case-study {
    margin: 8px auto;
    width: 360px;
    height: 250px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    -ms-grid-row: 4;
    grid-row: 4;
  }

  #frontback {
    font-size: 15px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .resume-button {
    width: 180px;
    margin: 0;
  }
}

@media all and (min-width: 1200px) {
  /* shared code */
  .projects {
    grid-gap: 20px;
  }

  .about {
    display: block;
    width: 350px;
    text-align: center;
    margin: auto;
  }

  h1 {
    font-size: 24px;
    line-height: 1.6;
  }

  h2 {
    font-size: 20px;
    line-height: 1.6;
  }
}
